// Override / set color variables
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Ultra&display=swap');


$primary:       #242424;
$secondary:     #00778a;
$white:          #E5E5E5;

$enable-rounded:   false;




body{
    font-family: 'Cutive Mono', monospace !important;

}


